<ion-header [translucent]="true" >
  <ion-toolbar color="dark">
    <ion-title (click)="voltar()" class="ion-text-center">Dados do Contato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="tertiary">
  <div id="header">
    <h1></h1>
    <img src="assets/Vi.png" alt="logo" />
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Vitória</ion-card-title>
      <ion-card-subtitle>(14)99826-1957</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      @ E-mail:vitoria@gmail.com
    </ion-card-content>
  </ion-card>


</ion-content>
