ion-title {
  color: rgb(255, 0, 170);
  font-size: 2rem;
  font-weight: 550;
  letter-spacing: 5px;
}

ion-thumbnail {
  width: 60px;
  height: 100px;
  object-fit: center;
  object-position: center;
}

ion-item {
  margin-top: 15px;
}

